@import 'styles/syntax-variables.less';

// Editor interface

atom-text-editor {
   background-color: @syntax-background-color;
   color: @syntax-text-color;

   .wrap-guide {
      background-color: @syntax-wrap-guide-color;
   }

   .indent-guide {
      color: @syntax-indent-guide-color;
   }

   .invisible,
   .invisible-character {
      color: @syntax-invisible-character-color;
   }

   .gutter {
      background-color: @syntax-gutter-background-color;
      color: @syntax-gutter-text-color;

      .line-number {

         &.cursor-line {
            background-color: @syntax-gutter-background-color-selected;
            color: @syntax-gutter-text-color-selected;
         }

         &.git-line-added {
            border-left-color: @syntax-color-added;
         }

         &.git-line-modified {
            border-left-color: @syntax-color-modified;
         }

         &.git-line-removed:before {
            border-left-color: @syntax-color-removed;
         }
      }
   }

   .gutter .line-number.folded,
   .gutter .line-number:after,
   .fold-marker:after {
      color: @magenta;
   }

   .cursor {
      border-left: 2px solid @syntax-cursor-color;
   }

   .cursor-line {
      background-color: @syntax-gutter-background-color-selected;
   }

   .highlight.selection .region {
      background-color: @syntax-selection-color;
   }

   .region.bracket-matcher {
      border: 0;
      background-color: @transparent-magenta;
   }

   // Common tokens

   .syntax--source {
      color: @light-gray;
   }

   .syntax--comment,
   .syntax--source.syntax--embedded .syntax--comment {
      color: @gray;
   }

   .syntax--entity,
   .syntax--variable {
      color: @light-gray;
   }

   .syntax--keyword.syntax--control,
   .syntax--keyword.syntax--other,
   .syntax--keyword.syntax--operator,
   .syntax--storage {
      color: @light-gray;
   }

   .syntax--constant.syntax--numeric,
   .syntax--keyword.syntax--unit,
   .syntax--string {
      color: @atomic-green;
   }

   .syntax--source .syntax--string {

      .syntax--source,
      .syntax--meta.syntax--embedded.syntax--line {
         color: @atomic-green;
      }

      .syntax--punctuation.syntax--section.syntax--embedded {
         color: @atomic-green;

         .syntax--source {
            color: @atomic-green;
         }
      }
   }

   // special constant rules

   .syntax--css.syntax--other.syntax--constant {
      color: @atomic-green;
   }

   .syntax--java.syntax--language.syntax--constant {
      color: @atomic-green;
   }
}
